@model Vidly.ViewModels.CustomersListViewModel
@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "New")
</p>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Membership Type
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model.Customers)
        {
            <tr>
                <td>
                    @Html.ActionLink(@customer.Name, "Edit", new { id = customer.Id }) 
                </td>
                <td>
                    @customer.MembershipType.Name
                </td>
            </tr>
        }
    </tbody>
</table>